:root {
  --primary-color: #ffffff;
  --secondary-color: #fbeac4;
  --tertiary-color: #f1c689;
  --off-brown-color: #3a1f03;
  --off-red-color: #fa7063;
}

$primary-color: #ffffff;
$secondary-color: #fbeac4;
$tertiary-color: #f1c689;
$off-brown-color: #3a1f03;
$off-red-color: #fa7063;
