#Gallery {
  height: 100%;
  width: 100%;

  .gesture-image {
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 0.25s;
    animation-fill-mode: both;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
